html, body {
  margin: 20px;
  background-image: url(http://i.imgur.com/HemV2.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #CEE3F8;
  background-attachment: fixed;
}
h1{
  font-size: 30px;
  height: 50px;
  color: red;
}
.sub-nav{
  background: black;
  display: inline;
}
#titles{
  color: red;
  text-align: center;
  margin-left: 350px;
  margin-right: 350px;
  padding-top: 10px;
  border-radius: 20px;
}
a{
  color: white;
  background: black;
}

.a{
  font-size: 20px;
  padding: 5px;
  margin: 20px;
}

a:hover{
}

h2{
  text-align: center;
  font-size: 50px;
  color: #FF4500;
}
h3{
text-align: center;
margin-left:90px;
margin-right: 90px;
border-radius: 5px;
}




nav{
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  padding-bottom: 10px;
}
