<h2 id="title">Reddit Posts for Software Developers and Programmers</h2>

<nav>
  <h1>
    &#8664; PICK A CATEGORY &#8665;
  </h1>
  <div class="a">
    {{#link-to 'posts' 'javascript'}}Javascript  {{/link-to}}  |
    {{#link-to 'posts' 'emberjs'}}Ember.js  {{/link-to}}  |
    {{#link-to 'posts' 'programming'}}Programming{{/link-to}}  |
    {{#link-to 'posts' 'Ruby'}}Ruby{{/link-to}}  |
    {{#link-to 'posts' 'Python'}}Python{{/link-to}}  |
  </div>
</nav>


{{outlet}}
